* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Calibre';
}

.page {
    background: #ffffff;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 { 
    font-size: 35px;
    margin-top: 60px;
    margin-bottom: 10px;
    margin-left: 10vw;
}

.horizontal-section {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 80vw;
    margin-left: 10vw;
    margin-top: 10px;
    margin-bottom: 15px;
}

.pfp-box {
    background: #aab597;
    border: 2px solid #111509;
    border-radius: 8px;
    width: auto;            /* scales with viewport width */
    max-width: 250px;       /* caps at 250px */
    max-height:300px;
    height: auto;           /* maintain aspect ratio */
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover; 
}

.box {
    line-height: 1.8;
    letter-spacing: 1px;
    max-height: 400px;
    padding: 20px;
    background: #aab597;
    border: 2px solid #111509;
    border-radius: 8px;
    flex: 1;
    font-size: 20px;
}

.horizontal-section2 {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* align smaller boxes to the top of the row */
    width: 80vw;
    margin-left: 10vw;
    margin-top: 0px;
    margin-bottom: auto;
}

.smaller-box {
    margin-top:0px;
    margin: 0 15px 0 0;
    margin-bottom: auto;
    line-height: 1.8;
    letter-spacing: 1px;
    padding: 20px;
    background: #aab597;
    border: 2px solid #111509;
    border-radius: 8px;
    flex: 1;
    font-size: 20px;
}